# Assignment 2
## Group Members:
### Nils Dunlop, e-mail: gusdunlni@student.gu.se
### Francisco Alejandro Erazo Piza, e-mail: guserafr@student.gu.se
### Chukwudumebi Ubogu, e-mail: gusuboch@student.gu.se
***

## Task 1: Working with a dataset with categorical features
***

### Step 1. Reading the data

In [40]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

train_data = pd.read_csv('adult_train.csv')
test_data = pd.read_csv('adult_test.csv')

# Splitting the train and test data into X (input) and Y (output)
X_train = train_data.drop('target', axis=1)
X_test = test_data.drop('target', axis=1)
Y_train = train_data['target']
Y_test = test_data['target']

In [41]:
# Checking the data
X_train.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,27,Private,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,44,United-States
1,27,Private,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States
2,25,Private,Assoc-acdm,12,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States
3,46,Private,5th-6th,3,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,1902,40,United-States
4,45,Private,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,2824,76,United-States

In [42]:
X_test.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States
4,18,?,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States

In [43]:
Y_train.head()

0    <=50K
1    <=50K
2    <=50K
3    <=50K
4     >50K
Name: target, dtype: object

In [44]:
Y_test.head()

0    <=50K
1    <=50K
2     >50K
3     >50K
4    <=50K
Name: target, dtype: object

### Step 2: Encoding the features as numbers.

In [45]:
# Initialize the DictVectorizer
vec = DictVectorizer(sparse=False)

# Convert the training and test data into a list of dictionaries
X_train_dict = X_train.to_dict(orient='records')
X_test_dict = X_test.to_dict(orient='records')

# Apply DictVectorizer to the training and test data
X_train_encoded = vec.fit_transform(X_train_dict)
X_test_encoded = vec.transform(X_test_dict)

# Check the shape of the encoded data
X_train_encoded.shape, X_test_encoded.shape

((32561, 107), (16281, 107))

In [46]:
# Scale the training and test data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_encoded)
X_test_scaled = scaler.transform(X_test_encoded)

In [47]:
# Initialize the Logistic Regression classifier
logistic_regression_classifier = LogisticRegression(max_iter=5000)

# Perform cross-validation on the training set
cross_val_scores = cross_val_score(logistic_regression_classifier, X_train_scaled, Y_train, cv=5)

# Calculate the mean accuracy from the cross-validation
mean_cv_accuracy = np.mean(cross_val_scores)

mean_cv_accuracy

0.8513560197691934

### Step 3. Combining the steps.

In [48]:
# Create the pipeline
pipeline = make_pipeline(
    DictVectorizer(sparse=False),
    StandardScaler(),
    LogisticRegression(max_iter=5000)
)

# Train the pipeline
pipeline.fit(X_train_dict, Y_train)

# Perform cross-validation on the pipeline
cross_val_scores = cross_val_score(pipeline, X_train_dict, Y_train, cv=5)

# Calculate the mean accuracy from the cross-validation
mean_cv_accuracy = np.mean(cross_val_scores)

# Evaluate on test data
test_accuracy = pipeline.score(X_test_dict, Y_test)

mean_cv_accuracy, test_accuracy

(0.8513253072384808, 0.8517904305632332)

## Task 2: Decision trees and random forests
***